<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="content">
    <div class="container">
        <h1>Módulo Clínica Administrativo</h1>
        <p class="active">Ativo</p>
        <hr class="separator"> <!-- Black line separator -->
    </div>
    <div class="logo">
        <img th:src="@{/images/IMEPAC.png}" alt="Logotype">
    </div>
</div>
</body>
</html>